h1,
h2,
h3,
h4,
p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

body {
   
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    font-weight: 600;
}

a {
    text-decoration: none;
}


img{
    height: auto;
    width: 100%;
    display: block;
   
}


button{
    cursor: pointer;
    border-style: none;
}


.container{
padding: 0 15px;    
}
   

@media screen and (min-width: 320px){
    .container{
     width: 320px;
      margin-left: auto;
      margin-right: auto;
      
    }
 }


 @media screen and (min-width: 575px){
    .container{
     width: 545px;
      margin-left: auto;
      margin-right: auto;
      
    }
 }

 @media screen and (min-width: 768px){
    .container{
     width: 730px;
      margin-left: auto;
      margin-right: auto;
   
    }
 }

 @media screen and (min-width: 992px){
    .container{
     width: 960px;
      margin-left: auto;
      margin-right: auto;
     
    }
 }

 @media screen and (min-width: 1600px){
    .container{
     width: 1368px;
      margin-left: auto;
      margin-right: auto;
  
    }
 }



 @media screen and  (max-width:991px) {

.header-menu{
    display: none;
}

.btn-style{
    display: none;
}


.mobile-menu-open-btn{
    padding-left: 0;
    padding-right: 0;
    line-height: 0;
        background-color: transparent;
        border: none;
    
    }

    .mobile-menu{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #E5E5E5;;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 1px 6px rgba(46, 47, 66, 0.08);
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
       
    }

    .mobile-menu.is-open{
        opacity: 6;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
    }

    .mobile-container{
        position: relative;
        padding: 90px 0 40px 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
      
    }

    .mobile-menu-close-btn{
        position: absolute;
        top: 45px;
        right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 50%;
    padding: 0;
   
    }

    .mobile-menu-close-icon{
        fill: #263238;
         transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
.mobile-item:not(:last-child){
    margin-bottom: 40px;
}

    .menu-list-link {
        font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #263238;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
 }


 .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 8px;
 }


 .logo{
    
    font-weight: 400;
    font-size: 36px;
    line-height: calc(54/36);
    color: #000000;
}

.logo-part{
    color: #939393;
}


/*HERO*/

.hero-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
   
}

.hero-content{
    margin-top: 16px;
    margin-bottom: 53px;
}

.hero-title{
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 20px;
}

.hero-text{
    font-weight: 400;
font-size: 11px;
line-height: 1.5;
text-align: center;
color: #8F95A5;
margin-bottom: 33px;
}


.hero-btn{
background: #263238;
border-radius: 5px;
padding: 18px 99px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #FFFFFF;
}



/*SLILLS*/

.skills{
  padding-bottom: 50px;   
}


.skills-title{
text-align: center;
margin-bottom: 32px;    
font-size: 24px;
line-height: 3.33;
color: #000000;
}

.skills-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 21px;
}

.skills-border{
 background: #E5E5E5;
    border-radius: 5px;   
    padding: 20px 16px 45px 16px; 
}

.skills-four-content{
    display: block;
}

.sub-title{
font-size: 18px;
line-height: 4.44;
color: #263238;

} 

.sub-content{
    font-weight: 400;
font-size: 13px;
line-height: 1.53;
color: #8F95A5;
margin-bottom: 40px;
}


.btn-skills{
    background: #263238;
border-radius: 5px;
padding: 14px 43px;
font-weight: 500;
font-size: 14px;
line-height: 1.5;
color: #FFFFFF;
}



/*ABOUT-US*/

.about-us{
    padding-bottom: 84px;
}

.about-us-container{
    display: flex;
    flex-direction:column-reverse ;
    justify-content: center;
    align-items: center;
}


.about-title{
font-size: 24px;
line-height: 3.33;
color: #000000;
text-align: center;
margin-bottom: 24px;
}


.about-desc{
font-weight: 400;
font-size: 13px;
line-height: 1.5;
text-align: center;
color: #8F95A5;
margin-bottom: 43px;
}

.about-img{
    margin-bottom: 23px;
}

.about-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.about-amount{
    font-size: 24px;
line-height: 2;
color: #2A3246;
text-align: center;
}

.about-info{
font-weight: 400;
font-size: 13px;
line-height: 1.5;
text-align: center;
color: #8F95A5;

}

/**PRICING**/

.pricing{
    padding-bottom: 72px;
}



.pricing-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.pricing-item:not(:last-child){
    margin-bottom: 65px;
}


.pricing-title{
margin-bottom: 49px;
font-size: 24px;
line-height: 3.33;
text-align: center;
color: #000000;
}

.pricing-suptitle{
    font-size: 18px;
line-height: 1.56;
color: #263238;
margin-top: 12px;
margin-bottom: 15px;
text-align: center;
}

.pricing-text{
    margin-bottom: 31px;
}

.pricing-info{
    display: inline-flex;
  align-items: center;
    gap: 21px;
    background: #EEEEEE;
border-radius: 5px;
padding: 5px 15px 5px 12px;
   
}

.price{
    font-weight: 400;
font-size: 18px;
line-height: 1.5;
color: #263238;

}

.pricing-desc{
 font-weight: 400;
font-size: 14px;
line-height: 1.5;
color: #546269;   
}



.contacts{
    padding-bottom: 55px;
}

.contact-title{
    font-size: 24px;
line-height: 3.33;
color: #000000;
text-align: center;
margin-bottom: 38px;
}

.contacts-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts-img{
    margin-bottom: 38px;

}

.contact-info{
    font-size: 14px;
    margin-bottom: 31px;
}


.contacts-form{
    width: 100%;
}

.contacts-input{
    height: 50px;
    width: 100%;
    border: 1px solid #8F95A5;
border-radius: 5px;
padding: 16px 0 16px 26px;
margin-bottom: 17px;

}

.contacts-input::placeholder{
font-weight: 400;
font-size: 12px;
line-height: 1.5;
color: #8F95A5;    
}

.contacts-btn{
font-weight: 500;
font-size: 14px;
line-height: 1.5;
color: #FFFFFF;
background: #263238;
border-radius: 5px;
padding: 20px 109px 19px 110px;
text-align: center;
display: block;
}


/*FOOTER*/

.footer{
    padding-bottom: 48px;

}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       border-top: 1px solid #C4C4C4; 
      
}

.footer-logo{
    margin-top: 26px;
    margin-bottom: 15px;
}

.menu-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}


.footer-link{
font-weight: 500;
font-size: 11px;
line-height: 16px;
color: #8F95A5;

}



.footer-item:not(:last-child)::after{
    content: "";
    background: #8F95A5;
    width: 4px;
    height:4px;
    border-radius: 50%;
    margin-right: 1px;
    margin-bottom: 1px;
    display:inline-block;   
}




@media screen and (min-width: 575px){

    .header-container{
        padding-top: 39px;
        padding-bottom: 11px;
        
    }

.hero{
    padding-bottom: 96px;
}
    .hero-content{
     display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }

    .hero-img{
        margin-bottom: 17px;
    }

    .hero-title{
        font-size: 34px;
        line-height: 1.3;
        margin-bottom: 26px;
    }

    .hero-text{
        font-size: 16px;
        margin-bottom: 37px;
    }

    .skills{
        padding-bottom: 84px;
    }

    .skills-title{
        font-size: 30px;
line-height: 2.67;
margin-bottom: 5px;
    }


    .skills-border{
        padding-right: 25px;
        width: 240px;
    display: flex;
flex-direction: column;
    }

    .skills-list {
      column-gap: 32px;
      row-gap: 34px;
}

.skills-item{
    display: flex;
}

.skills-four-content{
    display: flex;
    flex-direction: column;
}

.sub-content-4{
    margin-bottom: 60px;
}

.sub-content{
    flex-grow: 1;
}

.about-us{
    padding-bottom: 130px;
}

.about-title{
    margin-bottom: 23px;
    font-size: 30px;
line-height: 2.67;
}

.about-img{
    margin-bottom: 25px;
}

.about-desc{
    font-size: 14px;
}

.about-list{
    flex-direction: row;
    gap:75px;
}

.about-amount{
    line-height: 3.33;

}

.about-info{
    font-size: 14px;
}

.pricing{
    padding-bottom: 163px;

}

.pricing-title{
  font-size: 30px;
line-height: 2.67;
margin-bottom: 54px; 
}

.pricing-item:not(:last-child){
    margin-bottom: 71px;
}

.pricing-suptitle{
    margin-bottom: 21px;
    margin-top: 21px;
    font-size: 24px;
line-height: 1.17;
}

.price{
    font-size: 22px;
}

.pricing-desc{
    font-size: 16px;
}


.contacts{
    padding-bottom: 144px;
}

.contact-title{
    font-size: 30px;
line-height: 2.67;
margin-bottom: 83px;
}

.contacts-img{
    margin-bottom: 34px;
}


.contact-info{
    font-size: 16px;
    margin-bottom: 60px;
}


.contacts-form{
    display: flex;
    align-items: center;
}

.contacts-form-field{
    width: 100%;
}

.contacts-btn{
    font-size: 16px;
    padding: 15px 56px;
    min-height: 60px;
    border-radius: 0 10px 10px 0;
    border-left: 0;
}

.contacts-input{
    min-height: 60px;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    margin-bottom: 0;
   padding: 20px 25px;
  
}

.footer{
    padding-bottom: 26px;
}

.footer-container {
    flex-direction: row;
    justify-content: space-between;
}

.footer-logo{
    margin-top: 24px;
    margin-bottom: 0;
}

.menu-footer{
    margin-top: 26px;
}


.footer-link{
    font-size: 12px;
    line-height: 1.5;
}

}







@media screen and (min-width: 768px){

.header-container{
padding-bottom: 40px;
}


.hero{
    padding-bottom: 56px;
}


.hero-container {
    flex-direction: row;
    justify-content: space-between;
   
}

.hero-content{
    margin-top: 28px;
    margin-bottom: 0;
    background-image: url(../images/light-bulb.svg);
    background-repeat: no-repeat;
    background-position:center 35px ;
    justify-content: flex-start;
    align-items: flex-start;
     flex:0 1 50%
}

.hero-title{
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 25px;
    text-align: start;
    width: 270px;
}

.hero-text{
    margin-bottom: 32px;
    text-align: start;
}


.hero-btn{
    padding: 19px 67px;
    font-weight: 400;
font-size: 18px;
}

.hero-img{
    margin-bottom: 0;
}





.skills{
    padding-bottom: 52px;
}

.skills-title {
    margin-bottom: 37px;

}

.sub-content{
    margin-bottom: 13px;
     
}

.sub-title{
   font-size: 16px;
    line-height: 1.5;    
    margin-bottom: 10px;
}

.sub-content-4{
    width: 235px;
}

.skills-border-four {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.skills-img-4{
    padding-top: 40px;
}

.skills-border-four{
    padding-left: 10px;
    padding-right: 0;
}

.skills-border-secondary{
    padding-top: 4px;
}

.skills-border-third{
    padding-top: 50px;
}

.skills-img-third{
    margin-bottom: 10px; 
}

.skills-border{
    width: 100%;
}

.skills-list{
    display: grid;
    grid-template-columns: repeat(3, 226px);
    grid-template-rows:repeat(1,426px) ;
    gap: 10px;
}

.skills-first-item{
    grid-row-start: span 2;
}

.skills-last-item{
    grid-column: 2/4;

}

.skills-four-content{
    display: block;
}



.about-us{
    padding-bottom: 88px;
}


.about-title{
    margin-bottom: 0;
    text-align: start;
    display: inline-block;
}

.about-us-container{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.about-desc{
    width: 321px;
    text-align: start;
    margin-bottom: 0;
}

.about-list{
    gap: 70px;
}

.about-amount{
    font-size: 22px;
line-height: 3.64;

}

.about-info{
    font-size: 13px;
}



.pricing{
    padding-bottom: 65px;
}

.pricing-title{
    margin-bottom: 61px;
}


.pricing-list{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 36px;
}

.pricing-item{
    justify-content: flex-start;
    align-items: flex-start;
}

.pricing-suptitle{
    font-size: 20px;
    line-height: 1.4;
    text-align: start;
    width: 176px;
    margin-top: 23px;
    margin-bottom: 15px;
  
}

.pricing-item:not(:last-child){
    margin-bottom: 0;
}

.pricing-suptitle-last{
    width: 95px;
}


.pricing-text {
    font-size: 14px;
line-height: 1.5;
margin-bottom: 23px;
width: 200px;
text-align: start;
}


.price-text{
    margin-bottom: 43px;
}


.contacts{
    padding-bottom: 112px;
}

.contact-title{
margin-bottom: 0;

}

.contacts-inner{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contacts-img{
margin-bottom: 0;
}


.contact-info{
    font-size: 14px;
    text-align: start;
    width: 388px;
    margin-bottom: 35px;
}

.contacts-form{
    gap: 6px;
}

.contacts-input{
    min-height: 50px;
    border-radius: 5px;
    padding: 16px 24px;
    border-right: 1px solid #8F95A5;
}

.contacts-btn{
    min-height: 50px;
    border-radius: 5px;
    padding: 15px 39px;
    font-size: 13px;
    border-left: #263238;
}


.footer{
    padding-bottom: 15px;
}

.footer-logo{
    margin-top: 18px;
}

.logo{
    font-size: 30px;
    line-height: 1.5;

}

.footer-link{
    font-size: 13px;
}

.footer-item:not(:last-child)::after {
    content: "";
    margin-right: 2px;
}
}






@media screen and (min-width: 992px){

    .mobile-menu-open-btn{
        display: none;
    }

   .mobile-menu{
    display: none;
   }

   .header-container{
    padding-top: 25px;
    padding-bottom: 68px;
   }

.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}


.nav-link{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #263238;

}


.btn-style{
font-weight: 400;
font-size: 18px;
line-height: 1.5;
color: #000000;
padding: 12px 40px;
border: 2px solid #263238;
border-radius: 5px;
}


.hero{
    padding-bottom: 47px;
}

.hero-content{
    margin-top: 13px;
    background-position: center 55px;
}

.hero-title{
    margin-bottom: 27px;
    font-size: 48px;
line-height: 1.33;
}

.hero-text{
    margin-bottom: 33px;
font-size: 20px;
}


.hero-btn{
    padding: 22px 78px;
    font-size: 24px;
}



.skills{
    padding-bottom: 106px;
}



.skills-title{
    margin-bottom: 53px;
    font-size: 36px;
line-height: 2.22;
}


.skills-list{
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap:13px;
}

.skills-item{
    display: flex;
}

.skills-border-first{
padding: 32px 21px 52px 22px;
}

.skills-border-secondary{
    padding: 0 25px 20px 25px;
}

.skills-border-third{
    padding: 40px 30px 22px 30px;
}
.skills-img-third{
margin-bottom: 45px;
}

.skills-border-four{
    padding:0 18px 34px 29px;
}


.skills-img-4{
    width: 254px;
    padding-top: 50px;
}

.sub-title{
    font-size: 22px;
line-height: 3.64;
font-weight: 600;
margin-bottom: 0;
}

.sub-content-1{
    margin-bottom: 18px;
}

.sub-content-first-box{
    margin-bottom: 85px;
}
.sub-content-4{
    min-width: 300px;
}

.sub-content{
font-size: 14px;
line-height: 1.5;
flex-grow: 0;
}

.btn-skills{
    padding: 16px 42px;
font-size: 18px;
width: 196px;
}



.about-us{
    padding-bottom: 101px;
}

.about-title{
font-size: 36px;
line-height: 2.22;
margin-bottom: 13px;  
}


.about-us-container{
    align-items: flex-start;
}

.about-desc{
    font-size: 16px;
    min-width: 520px;
    margin-bottom: 5px;
}

.about-amount{
    font-size: 30px;
    line-height: 2.67;
}


.about-info{
    font-size: 16px;
}

.about-img{
    margin-bottom: 0;
}




.pricing{
    padding-bottom: 141px;
}

.pricing-title{
    margin-bottom: 47px;
    font-size: 30px;
line-height: 2.22;
}


.pricing-suptitle{
    font-size: 22px;
    line-height: 1.55;
    width: 100%;
}


.pricing-text{
width: 290px;

}

.pricing-item:not(:last-child) {
    margin-bottom: 0;
}

.price-text{
    margin-bottom: 70px;
}

.price{
    font-size: 24px;
}



.contacts{
    padding-bottom: 157px;
}


.contact-title{
    font-size: 36px;
    line-height: 2.22;
}


.contacts-inner{
    justify-content: flex-start;

}

.contacts-info{
    margin-left: 109px;
}

.contact-info{
    min-width: 450px;
}

.contacts-form{
    gap: 14px;
}

.contacts-form-field{
    width: 323px;
}

.contacts-input{
    min-height: 60px;
}

.contacts-btn{
    min-height: 60px;
    padding: 18px 56px;
    font-size: 16px;

}


.footer{
    padding-bottom: 24px;
}

.footer-logo{
    margin-top: 22px;
}


.footer-link{
    font-size: 16px;
}

}





@media screen and (min-width: 1600px){
   
    .header-container{
        padding-top: 58px;
        padding-bottom: 48px;
    }

    .logo{
        font-size: 36px;
    }

    .nav-link{
        font-size: 20px;

    }

.btn-style{
    padding: 17px 57px;
    font-size: 24px;

}


.hero{
    padding-bottom: 103px;
}

.hero-title{
    font-size: 64px;
line-height: 1.25;
min-width: 386px;
margin-bottom: 40px;
}


.hero-content{
    margin-top: 50px;
    background-position:center 80px;
}

.hero-text{
    font-size: 24px;
    margin-bottom: 61px;
}

.hero-btn{
    padding: 32px 117px;
    font-size: 36px;
    border-radius: 15px;
}



.skills{
    padding-bottom: 282px;
}

.skills-title{
    font-size: 48px;
line-height: 1.67;
margin-bottom: 96px;
}

.skills-list{
    gap: 18px;
}

.sub-title{
    font-size: 30px;
line-height: 2.67;
}

.sub-content{
    flex-grow: 1;
    font-size: 16px;
}


.btn-skills{
    padding: 16px 52px;
    font-size: 18px;
    width: 218px;
}

.skills-border-third{
    padding: 20px 30px 22px 30px;
}

.skills-img-third{
    margin-bottom: 0;
}

.skills-border-secondary{
    padding-top: 15px;
}

.sub-content-4{
width: 333px;
margin-bottom: 45px;

}


.skills-img-4{
    width: 382px;
    padding-top: 0;
}

.skills-border-four{
    padding: 44px 25px 44px 44px;
}



.about-us{
    padding-bottom: 188px;
}

.about-title{
    margin-bottom: 23px;
    font-size: 48px;
line-height: 1.67;
}


.about-desc{
    font-size: 20px;
    margin-bottom: 10px;
}

.about-amount{
    font-size: 48px;
line-height: 1.67;
}

.about-info{
    font-size: 20px;
}

.pricing{
    padding-bottom: 257px;
}

.pricing-title{
    margin-bottom: 83px;
    font-size: 48px;
line-height: 1.67;
}

.pricing-list{
    gap: 40px;
}

.pricing-suptitle{
    font-size: 30px;
line-height: 1.6;
margin-bottom: 20px;
}

.pricing-text{
   width: 380px;
}

.price-text-first{
    margin-bottom: 45px;
}

.price-text{
    margin-bottom: 77px;
}

.price{
    font-size: 30px;
}

.pricing-desc{
    font-size: 18px;
}


.contacts{
    padding-bottom: 133px;
}

.contact-title{
    font-size: 48px;
line-height: 1.67;
}

.contacts-info{
    margin-left: 104px;
}


.contact-info{
    margin-bottom: 52px;
    font-size: 20px;
    min-width: 780px;
}

.contacts-form{
    gap: 12px;
}

.contacts-form-field{
    width: 450px;
}

.contacts-input{
    min-height: 80px;
    padding: 27px 0 30px 33px;
}

.contacts-input::placeholder{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

 }

 .contacts-btn{
    min-height: 80px;
    padding: 25px 81px;
    font-size: 20px;
 }


.footer{
    padding-bottom: 58px;
}


.footer-logo{
    margin-top: 31px;
}

.footer-item:not(:last-child)::after{
    content:'' ;
    width: 6px;
    height: 6px;
    margin-bottom: 2px;
    margin-right: 3px;
}

.footer-link{
    font-size: 24px;
}


}